{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>Inspiration</h1>
        <br>
        <div>

        </div>
    </div>

    <div>
        <h1>What it does</h1>
        <br>
        <div>
            
        </div>
    </div>

    <div>
        <h1>How we built it</h1>
        <br>
        <div>
            
        </div>
    </div>

    <div>
        <h1>Challenges we ran into</h1>
        <br>
        <div>
            
        </div>
    </div>

    <div>
        <h1>Accomplishments that we're proud of</h1>
        <br>
        <div>
            
        </div>
    </div>

    <div>
        <h1>What we learned</h1>
        <br>
        <div>
            
        </div>
    </div>

    <div>
        <h1>What's next for Hoya Hacks 2024</h1>
        <br>
        <div>
            
        </div>
    </div>

{% endblock %}
